@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body p {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

main {
  background-image: url("../assets/background4.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  background-attachment: fixed;
  background-position: center;
}

main .intro {
  background-image: url("../assets/dark-wood_compress.webp");
  background-color: rgb(195, 116, 14);
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
  color: bisque;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
main .intro h2 {
  color: bisque;
}

.header {
  position: relative;
  width: 100%;
  background-image: url("../assets/header.webp");
  background-size: cover;
  background-position: center;
  font-size: 2em;
  margin-top: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: bisque;
  transition: font-size 0.5s ease;
}
.header .title {
  padding-left: 20px;
}
.header .title .lettre {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  animation: liftUp 1s infinite alternate;
  transform-origin: center bottom;
  color: rgb(10, 11, 64);
}
.header .title .lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.header .title .lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.header .title .lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.header .title .lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.header .title .lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.header .title .lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.header .title .lettre:nth-child(7) {
  animation-delay: 0.7s;
}

@keyframes liftUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
@media (min-width: 400px) {
  .header {
    font-size: 2.5em;
    transition: font-size 0.5s ease;
  }
}
@media (min-width: 730px) {
  .return {
    display: None;
  }
}
.game {
  align-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.game .cont-champ-bataille {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 120px;
}
.game .cont-champ-bataille .champ-bataille {
  position: relative;
  overflow: hidden;
  width: 60%;
}
.game .cont-champ-bataille .champ-bataille .starts-game {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  right: 0%;
  background-image: url("../assets/dark-wood_compress.webp");
  background-color: rgb(195, 116, 14);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  transition: transform 2s;
}
.game .cont-champ-bataille .champ-bataille .starts-game .btn-class-name {
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  outline: 10px solid rgb(var(--primary), 0.5);
}
.game .cont-champ-bataille .champ-bataille .starts-game .btn-class-name .front {
  background: linear-gradient(0deg, rgba(var(--primary), 0.6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 0.5em 1em -0.2em rgba(var(--secondary), 0.5);
  border: 1px solid rgb(var(--secondary));
  color: rgb(var(--secondary));
}
.game .cont-champ-bataille .champ-bataille .starts-game .btn-class-name .back {
  background: rgb(var(--secondary));
}
.game .cont-champ-bataille .champ-bataille .end-game {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/dark-wood_compress.webp");
  background-color: rgb(195, 116, 14);
  transform: translateX(0);
  transition: transform 2s;
}
.game .cont-champ-bataille .champ-bataille .end-game h3 {
  color: bisque;
  margin-top: 2px;
  margin-bottom: 20px;
  font-size: 1rem;
}
.game .cont-champ-bataille .champ-bataille .end-game .btn-class-name {
  --primary2: 10, 208, 10;
  --secondary2: 2, 84, 2;
  outline: 10px solid rgb(var(--primary2), 0.5);
}
.game .cont-champ-bataille .champ-bataille .end-game .btn-class-name .front {
  background: linear-gradient(0deg, rgba(var(--primary2), 0.6) 20%, rgba(var(--primary2)) 50%);
  box-shadow: 0 0.5em 1em -0.2em rgba(var(--secondary2), 0.5);
  border: 1px solid rgb(var(--secondary2));
  color: rgb(var(--secondary2));
}
.game .cont-champ-bataille .champ-bataille .end-game .btn-class-name .back {
  background: rgb(var(--secondary2));
}
.game .cont-champ-bataille .champ-bataille img {
  width: 100%;
  height: 100%;
}
.game .cont-champ-bataille .champ-bataille .boulet {
  display: none;
  width: 20%;
  height: 20%;
  background: url("../assets/ball.png") no-repeat center/contain;
  position: absolute;
  top: 40%; /* Ajustez la position verticale selon vos besoins */
  animation-duration: 1s; /* Ajustez la durée de l'animation selon vos besoins */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.game .cont-champ-bataille .champ-bataille .droit {
  right: -20%;
  animation-name: bouletDroit;
}
.game .cont-champ-bataille .champ-bataille .droit.un {
  animation-delay: 0.5s;
}
.game .cont-champ-bataille .champ-bataille .droit.deux {
  animation-delay: 1s;
}
.game .cont-champ-bataille .champ-bataille .droit.trois {
  animation-delay: 0.8s;
}
.game .cont-champ-bataille .champ-bataille .gauche {
  left: -20%;
  animation-name: bouletGauche;
}
.game .cont-champ-bataille .champ-bataille .gauche.un {
  animation-delay: 1s;
}
.game .cont-champ-bataille .champ-bataille .gauche.deux {
  animation-delay: 0.6s;
}
.game .cont-champ-bataille .champ-bataille .gauche.trois {
  animation-delay: 0.3s;
}
.game .cont-champ-bataille .champ-bataille .un {
  animation-duration: 0.8s;
}
.game .cont-champ-bataille .champ-bataille .deux {
  animation-duration: 0.6s;
  top: 30%;
  width: 15%;
  height: 15%;
}
.game .cont-champ-bataille .champ-bataille .trois {
  animation-duration: 0.7s;
  top: 70%;
  width: 25%;
  height: 25%;
}
@keyframes bouletDroit {
  to {
    right: 100%;
  }
}
@keyframes bouletGauche {
  to {
    left: 100%; /* Le boulet se déplace vers la gauche */
  }
}
.game .cont-champ-bataille .bateau {
  position: relative;
  width: 20%;
}
.game .cont-champ-bataille .bateau img {
  width: 100%;
  height: 100%;
}
.game .cont-champ-bataille .bateau .explosion {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 20%;
  height: 20%;
  background-image: url("../assets/explosion.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation: explosionAnimation 0.5s ease-in-out infinite alternate;
}
.game .cont-champ-bataille .bateau .explosion.un {
  width: 15%;
  left: 60%;
  top: 60%;
  animation-duration: 0.3s;
  animation-delay: 1s;
  transform: rotate(90deg);
}
.game .cont-champ-bataille .bateau .explosion.deux {
  width: 30%;
  left: 10%;
  top: 65%;
  animation-duration: 0.6s;
  animation-delay: 2s;
  transform: rotate(180deg);
}
.game .cont-champ-bataille .bateau .explosion.trois {
  width: 18%;
  left: 18%;
  top: 30%;
  animation-duration: 1s;
  animation-delay: 2s;
  transform: rotate(-20deg);
}
.game .cont-champ-bataille .bateau .explosion.quatre {
  left: 5%;
  top: 5%;
  animation-duration: 0.8s;
  animation-delay: 0.8s;
  transform: rotate(-45deg);
}
.game .cont-champ-bataille .bateau .explosion.cinq {
  left: 70%;
  top: 5%;
  animation-duration: 0.9s;
  animation-delay: 0.1s;
  transform: rotate(45deg);
}
@keyframes explosionAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.game .cont-equipe {
  color: bisque;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/dark-wood_compress.webp");
  background-color: rgb(195, 116, 14);
  min-height: 200px;
  transition: min-height 0.5s ease;
  text-align: center;
}
.game .cont-equipe h2 {
  color: bisque;
}
.game .cont-equipe .personnages {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.game .cont-equipe .personnages .fiche-personnage {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  width: 15%;
}
.game .cont-equipe .personnages .fiche-personnage img {
  border-radius: 10px;
  width: 100%;
}
.game .cont-equipe .personnages .fiche-personnage h2 {
  font-size: 1.2rem; /* Taille du texte adaptative */
  color: bisque;
}
.game.run .cont-champ-bataille .champ-bataille .boulet {
  display: block;
}
.game.run .cont-champ-bataille .champ-bataille .starts-game {
  transform: translateX(-100%);
  transition: transform 2s;
}
.game.run .cont-champ-bataille .champ-bataille .end-game {
  transform: translateX(100%);
  transition: transform 2s;
}
.game.run .cont-champ-bataille .champ-bataille .end-game * {
  display: None;
}
.game.run .cont-champ-bataille .bateau .explosion {
  display: block;
}
.game.finish .cont-champ-bataille .champ-bataille .boulet {
  display: block;
}
.game.finish .cont-champ-bataille .champ-bataille .starts-game {
  transform: translateX(-100%);
  transition: transform 2s;
}
.game.finish .cont-champ-bataille .champ-bataille .end-game {
  transform: translateX(0%);
  transition: transform 2s;
}
.game.finish .cont-champ-bataille .bateau .explosion {
  display: block;
}

@media (min-width: 768px) {
  .resulat-game {
    font-size: 1.5em;
  }
}
main form {
  background-image: url("../assets/dark-wood_compress.webp");
  background-color: rgb(195, 116, 14);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  padding-right: 50px;
}
main form label,
main form h3,
main form h2 {
  color: bisque;
}
main form label {
  display: block;
  margin-bottom: 8px;
}
main form .camp {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main form select,
main form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}
main form input[type=radio] {
  margin-right: 5px;
}
main form input[type=submit] {
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}
main form .button {
  scale: 0.9;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: bisque;
  border: 2px solid bisque;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}
main form .button:hover {
  color: rgb(105, 72, 2);
  scale: 1;
  box-shadow: 0 0px 20px rgb(105, 72, 2);
  background-color: bisque;
}
main form .button:active {
  scale: 0.9;
}

footer {
  background-image: url("../assets/dark-wood_compress.webp");
  background-color: rgb(195, 116, 14);
  margin: 0;
  padding: 10px;
  color: bisque;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  color: bisque;
}

.btn-class-name {
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), 0.5);
  border-radius: 100%;
  position: relative;
  transition: 0.3s;
  margin: 20px;
}
.btn-class-name .front {
  background: linear-gradient(0deg, rgba(var(--primary), 0.6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 0.5em 1em -0.2em rgba(var(--secondary), 0.5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: 0.15s;
  color: rgb(var(--secondary));
}
.btn-class-name .front p {
  margin: 0;
}
.btn-class-name .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

@media (min-width: 768px) {
  .btn-class-name {
    width: 60px;
    height: 60px;
  }
  .game .cont-equipe {
    min-height: 250px;
  }
}

/*# sourceMappingURL=global.css.map */
